$HeaderColour: #000000;
$FooterColour: #1C1C1C;
$DarkGreyBackground: #666666;
$LightGreyBackground: #E6E6E6;
$AccentColour: #BEA94B;
$HeadingsFont: 'Raleway', sans-serif;
$BodyFont: 'Noto Serif JP', sans-serif;
//$BodyFont: 'Playfair Display', serif;

$small: 576px;
$medium: 768px;
$large: 992px;

p {
    margin: 0;
}

#title-block {
    background-color: $HeaderColour;
    text-align: center;
    margin-bottom: 0;
    padding: 50px 0;
    margin: 0;
    
    p {
        color: white;
        font-family: $BodyFont;
        padding: 10px 50px;
    }
}

@media only screen and (min-width: 584px) {
    #title-block {
        p {
            width: 584px;
            margin: 0 auto;
        }
    }
}

h1 {
    color: white;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 40px;
    letter-spacing: 6px;
    font-size: 14px;
    font-weight: 100;
    margin: 0;
    padding: 0 50px 20px 50px;
}

#intro {
    background-image: url("/images/tree-background.jpg");
    background-size: cover;
    background-position: center top;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grey-text-box {
    background-color: #FFFFFFE0;
    //border-radius: 5px;
    padding: 20px;
    line-height: 25px;
    font-family: 'Noto Serif JP', sans-serif;
    text-align: center;
    width: 550px;
    margin: 0;
}

#services {
    text-align: center;
    background-color: $DarkGreyBackground;
    color: white;
}

.services-box {
    padding: 30px 40px 30px 40px;
    margin: 30px;
    position: relative;
    p {
        font-family: $BodyFont;
        font-weight: 200;
        margin: 0;
    }
}

.services-box:hover {
    background-color: #FFFFFFE0;
    cursor: pointer;
}

.borderAccent {
    width: 70px;
    height: 70px;
    position: absolute;
}

.top-left {
    top: 0;
    left: 0;
    border-top: 4px solid $AccentColour;
    border-left: 4px solid $AccentColour;
}

.bottom-right {
    bottom: 0;
    right: 0;
    border-bottom: 4px solid $AccentColour;
    border-right: 4px solid $AccentColour;
}

.link-to-page {
    height: 50px;
    width: 50px;
    margin: 20px auto 0 auto;
    font-size: 35px;
    border: 2px solid $AccentColour;
    border-radius: 50%;
    p {
        position: relative;
        bottom: 5px;
        left: 2px;
    }
}

.col-md-6 {
    padding: 0;
}

.h2-box {
    margin: 0 auto;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 4px;
    margin: 0;
}

h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    font-size: 17px;
    letter-spacing: 4px;
    margin: 0;
}

#contact {
    background-color: $FooterColour;
    color: white;
    font-family: $BodyFont;
    font-weight: 200;
    padding: 40px 30px;
}

#contact-text {
    padding-bottom: 30px;
    
    h2 {
        padding-bottom: 20px;
    }
}

input[type=text] {
    background-color: $DarkGreyBackground;
    border: none;
    display: inline-block;
    height: 30px;
    border-radius: 0;
}

input[type=email] {
    background-color: $DarkGreyBackground;
    border: none;
    height: 30px;
    border-radius: 0;
}

input[type=submit] {
    background-color: $DarkGreyBackground;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

input[type=submit]:hover {
    cursor: pointer;
}

label {
    padding-top: 5px;
    display: inline-block;
    width: 90px;
    position: absolute;
    left: 15px;
    font-family: $HeadingsFont;
    letter-spacing: 2px;
}

@media only screen and (min-width: $medium) {
    label {
        left: auto;
        right: 10px;
    }
}

#message {
    background-color: $DarkGreyBackground;
    border: none;
    border-radius: 0;
}

#send-button {
    text-align: center;
}

a, a:hover {
    text-decoration: none;
    color: inherit;
}

#service-intro-container {
    position: relative;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding: 0;
}

#computer-background {
    position: absolute;
    background-image: url("/images/computer-background.png");
    background-size: cover;
    background-position: center bottom;
    width: 100%;
    height: 100%;
}

#service-intro {
    position: absolute;
    font-family: $BodyFont;
    background-color: #FFFFFF90;
    display: flex;
    align-items: center;
    padding: 50px;
    height: 100%;
}

@media only screen and (min-width: $small) {
    #service-intro {
        line-height: 30px;
    }
}

@media only screen and (min-width: $medium) {
    #computer-background {
        width: 50%;
        left: 0;
        top: 0;
    }
    
    #service-intro {
        width: 50%;
        right: 0;
        top: 0;
        background-color: $LightGreyBackground;
        line-height: inherit;
    }
}

@media only screen and (min-width: $large) {
    #service-intro {
        line-height: 30px;
    }
}

#services h2 {
    text-align: center;
    padding-bottom: 20px;
}

#service-range-container {
    padding: 20px 20px;
    
    h2 {
        font-size: 20px;
        text-align: center;
        padding: 30px 0;
        color: $AccentColour;
    }
    
    h3 {
        text-align: center;
    }
    
    .col-md-4 {
        p {
        font-family: $BodyFont;
        text-align: center;
        padding: 0 10px 60px 10px;
        }   
    }
}

@media only screen and (min-width: $small) {
    #service-range-container {
        padding: 0 60px;
    }
}

@media only screen and (min-width: $medium) {
    #service-range-container {
        padding: 0 20px;;
    }
}

@media only screen and (min-width: $large) {
    #service-range-container {
        padding: 0 40px;
    }
}

.services-range-box {
    padding: 30px 20px 30px 20px;
    margin: 10px;
    position: relative;
    p {
        font-family: $BodyFont;
        margin: 0;
    }
}

@media only screen and (min-width: $medium) {
    #form-column {
        padding-top: 37px;
    }
}

#thanks {
    text-align: center;
    background-color: black;
    color: white;
    font-family: $BodyFont;
    padding-bottom: 100px;
    
    p {
        padding-bottom: 80px;
    }
    
    #home-link {
        font-family: $HeadingsFont;
        letter-spacing: 4px;
        font-weight: 100;
    }
    
    img {
        
    }
}
