<!DOCTYPE html>
<html lang="en">
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat|Raleway:100,400|Noto+Serif+JP:200|Playfair+Display" rel="stylesheet">
        
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <title>{{ .Title }}</title>
        
    </head>
    <body>
        
        <div class="container-fluid" id="title-block">
            <a href="/"><img src="/images/LifeConsultingLogo.png"></a>
            